%h1.order-display Orders
%h5= "Total orders: #{@orders.size}"
%h5= "Orders by status:"
.order-filters
  %a basket #{Order.basket.length}
  %a ordered #{Order.ordered.length}
  %a paid #{Order.paid.length}
  %a{href: admin_completed_orders_path} completed #{Order.completed.length}
  %a cancelled #{Order.cancelled.length}

.orders-container
  -@orders.each do |order|
    %h4= "Order #{order.id}"
    %ul
      %li= order.created_at
      %li Status: #{order.aasm_state}
      %li= link_to "View order", admin_order_path(order)
