%ul
  -@items.each do |item|
    %li= item.title
    %li= item.description
    %li= item.price
    %li= link_to "View Item", admin_item_path(item)
    %li= link_to "Edit Item", edit_admin_item_path(item)

