.container
  .panel.panel-default
    %h1.panel-heading Users
    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th Host
            %th Title
            %th Daily Rate
            %th Bathroom
            %th People per Unit
            %th 
            %th
            %th
        %tbody
          -@items.each do |item|
            %tr
              %td= link_to "#{item.user.first_name}", user_path(item.user)
              %td= item.title
              %td= item.price_for_humans
              %td= item.bathroom
              %td= item.people_per_unit
              %td= link_to "View Listing", item_path(item)
              %td= link_to "Delete Listing", admin_item_path(item), method: :delete, data: {confirm: "Really delete?  With great power comes great responsibility."}