.thumbnail
  %img{:alt => "...", "data-src" => "holder.js/300x300"}
    .caption
      %h3=@item.title
      %p=@item.description
      %p $ #{@item.price.to_i}
      %h5 Categories:
      .current-categories
        -@item.categories.each do |category|
          %li= category.name
          = link_to "Remove Category", remove_category_admin_item_path(params.merge(:category => category)), method: :delete
  %h4 Add Category
  %ul
    -@categories.each do |category|
      - if !@item.categories.include?(category)
        %li= link_to category.name, add_category_admin_item_path(params.merge(:category => category)), method: :put
  .scarcity
    %h4 Scarcity: #{@item.scarcity}
    %p= link_to "Extinction Event", extinction_admin_item_path(@item), method: :post
