.container
  .admin-item-container
    %h3= @item.title
    %p= @item.description
    %p $ #{@item.price.to_i}

    %table.table.table-striped.categories-container
      %thead
        %tr
          %th Categories
          %th
      %tbody
        -@item.categories.each do |category|
          %tr
            %td= category.name
            %td= link_to "Remove Category", remove_category_admin_item_path(params.merge(:category => category)), method: :delete
    .dropdown
      %button#dropdownMenu1.btn.btn-default.category-dropdown.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
        Add Category
        %span.caret
      %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
        -@categories.each do |category|
          %li{:role => "presentation"}
            - unless @item.categories.include?(category)
              = link_to category.name, add_category_admin_item_path(params.merge(:category => category)), method: :put, :role => "menuitem", :tabindex => "-1"
    .scarcity
      %h4 Current Scarcity: #{@item.scarcity.capitalize}
      = link_to "Trigger Extinction Event", extinction_admin_item_path(@item), method: :post, role: "button", class: "btn btn-danger btn-block"
/ # %p.item-image= image_tag @item.image.url, size: "300x300"