.nav-navbar.navbar-inverse
  .container
    .navbar-wrappper.navbar-inverse
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "/"} Endangered Eats
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "/about_us"} About
        %li
          %a{:href => "#contact"} Contact
        %li
          %a{:href => "/menu"} Menu

      - if signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Welcome, #{current_user.first_name.capitalize}!", current_user
          %li= link_to "My Order ($#{order.total})", order_path(order)
          -if current_user.role == "admin"
            %li= link_to "Admin Dashboard", admin_dashboard_path
          %li= link_to "Log out", logout_path, method: "delete"
      - else
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "My Order ($#{order.total})", order_path(order)
          %li= link_to 'Login', login_path
          %li= link_to 'Signup', signup_path
