.nav-navbar.navbar-inverse
  .container
    .navbar-wrappper.navbar-inverse
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "/"} TravelHome
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "/about_us"} How It Works
        %li
          %a{:href => "/menu"} Listings

      - if signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "My Bookings (#{order.items.length})", order_path(order)
          -if current_user.role == "admin"
            %li= link_to "Admin Dashboard", admin_dashboard_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              ="Welcome, #{current_user.first_name.capitalize}!"
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li= link_to "My Profile", current_user
              %li= link_to "My Dashboard", dashboard_user_path(current_user)
              %li.divider
              %li= link_to "Log out", logout_path, method: "delete"
      - else
        %ul.nav.navbar-nav.navbar-right
          - if order.items.any?
            %li= link_to "My Bookings (#{order.items.length})", order_path(order)
          %li= link_to 'Login', login_path
          %li= link_to 'Signup', signup_path
