.container
  .panel.panel-default
    %h1.panel-heading= "Hi #{current_user.first_name}! Here are the booking requests for your listings:"
    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th Order
            %th Listing
            %th Dates
            %th Number of Nights
            %th Confirmation Actions
            %th
        %tbody
          - @listings_requests.each do |request|
            %tr
              %td= "#{request.order.user.first_name}'s Request"
              %td= "#{request.item.title}"
              %td
              %td= "#{request.quantity}"
              - if request.confirmed?
                %td Request CONFIRMED
              - else
                %td
                  = link_to listing_request_confirmations_path(request), method: :post do
                    Confirm
              - if request.denied?
                %td Request DENIED
              - else
                %td
                  = link_to listing_request_denials_path(request), method: :post do
                    Deny
