.container
  .panel.panel-default
    %h1.panel-heading= "Hi #{current_user.first_name}! Here are the booking requests for your listings:"
    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th Order
            %th Listing
            %th Check-in
            %th Check-out
            %th Number of Nights
            %th Confirmation Actions
        %tbody
          - @listings_requests.each do |request|
            %tr
              %td= "#{request.order.user.first_name}'s Request"
              %td= "#{request.item.title}"
              %td= "#{request.checkin_date}"
              %td= "#{request.checkout_date}"
              %td= "#{request.availabilities.count}"
              - if request.confirmed?
                %td
                  %span.glyphicon.glyphicon-ok.confirmed
              - elsif request.denied?
                %td
                  %span.glyphicon.glyphicon-remove.denied
              - else
                %td
                  = link_to listing_request_confirmations_path(request), method: :post, class: 'btn btn-success' do
                    Confirm
                  = link_to listing_request_denials_path(request), method: :post, class: 'btn btn-danger' do
                    Deny
