%a.btn.btn-primary{:href => "/admin/orders", :role => "button"} All (#{Order.count})
%a.btn.btn-primary{:href => "/admin/basket", :role => "button"} Basket (#{Order.basket.count})
%a.btn.btn-primary{:href => "/admin/ordered", :role => "button"} Ordered (#{Order.ordered.count})
%a.btn.btn-primary{:href => "/admin/paid", :role => "button"} Paid (#{Order.paid.count})
%a.btn.btn-primary{:href => "/admin/completed", :role => "button"} Completed (#{Order.completed.count})
%a.btn.btn-primary{:href => "/admin/cancelled", :role => "button"} Cancelled (#{Order.cancelled.count})
