.order-display
  -@orders.reverse.each_with_index do |order, i|
    #accordian.panel-group
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{i}"}
              = "Order ##{order.id}"
              = "#{order.created_at.to_formatted_s(:long_ordinal)}"
              = "|| #{order.aasm_state.capitalize}"
      .panel-collapse.collapse{:id => "collapse#{i}"}
        .panel-body
          %table.table-hover.col-lg-12
            %thead
              %tr
                %th Title
                %th Description
                %th Price
                %th Quantity
                %th Subtotal
            %tbody
            -order.order_items.each do |order_item|
              %tr.order-items
                %td= link_to order_item.item.title, item_path(order_item.item)
                %td= link_to order_item.item.description, item_path(order_item.item)
                %td= link_to "$#{order_item.item.price_for_humans}", item_path(order_item.item)
                %td= link_to order_item.quantity, item_path(order_item.item)
                %td= link_to "$#{quantity_price_for_humans(order_item.item, order)}"
          %h4.pull-right
            = link_to "View Order", admin_order_path(order), :role => "button", :class => "btn btn-primary"
            ="Total: $#{order.total_price_for_humans}"
          %h4.pull-left
            - if order.may_pay?
              = link_to "Mark as Paid",      admin_order_event_path(order, event: 'pay'),      method: "put", :role => "button", :class => "btn btn-success"
            - if order.may_complete?
              = link_to "Mark as Completed", admin_order_event_path(order, event: 'complete'), method: "put", :role => "button", :class => "btn btn-success"
            - if order.may_cancel?
              = link_to "Cancel Order",      admin_order_event_path(order, event: 'cancel'),   method: "put", :role => "button", :class => "btn btn-danger"
