.container
  -@items.each do |item|
    .col-md-4.user-listings-container
      %h3= link_to "#{item.title}", item_path(item)
      %img{src: "#{item.item_images.first.image(:large)}"}
      .caption 
        -unless host? @user
          = button_to "Book it!", add_item_order_path(order, item_id: item.id), class: "thumbnail-btn btn btn-primary"
        .edit-listing
          -if host? @user
            = link_to "Edit Listing", edit_item_path(item), class: "thumbnail-btn btn btn-primary"
