.panel-body
  %table.table.table-striped
    %tbody
      %tr
        %td #{@address.street_1}
        %td #{@address.street_2}
        %td #{@address.city}
        %td #{@address.state}
        %td #{@address.zip}
