.panel.panel-default
  %h1.panel-heading Order Summary #{order.id}
  .panel-body
    %table.table.table-striped
      %thead
        %tr
          %th Title
          %th Description
          %th Price
          %th Quantity
          %th
          %th Item Subtotal
      %tbody
      -if order.empty?
        %tr You don't have any items in your cart!
      -else
        -order.items.each do |item|
          %tr
            %td #{item.title}
            %td #{item.description}
            %td $#{item.price}
            %td #{order_item(item).quantity}
            %td $#{item.price * order_item(item).quantity}
  #order-total
    %h6.text-muted.order_totals= "Order Subtotal: $#{order.total}"
    %h6.text-muted.order_totals= "Order Tax: $#{order.tax_for_humans}"
    %h3.text-muted.order_totals= "Order Total: $#{order.total_price_for_humans}"
