.container
  %h1 Confirm Booking Requests

  %h3.panel-heading Your Requests
  .panel-body
    %table.table.table-striped
      %thead
        %tr
          %th Location
          %th Daily Rate
          %th Nights
          %th Check In
          %th Check Out
          %th Subtotal
      %tbody
        -order.items.each do |item|
          %tr
            %td #{item.title}
            %td $#{item.price_for_humans}
            %td.nights #{order_item(item).quantity}
            %td.check-in #{order_item(item).checkin_date}
            %td.check-out #{order_item(item).checkout_date}
            %td Subtotal: $#{quantity_price_for_humans(item)}

    %h5.text-muted.order_totals= "Subtotal: $#{order.total_for_humans}"
    %br
    %h5.text-muted.order_totals= "Tax: $#{order.tax_for_humans}"
    %br
    %h3.text-muted.order_totals= "Total: $#{order.total_price_for_humans}"
    =link_to "Change Order", order_path(order), class: 'btn btn-danger'

  %br
  %br
  %br


  =link_to "Look Good? Send booking requests.", requested_path, class: 'btn btn-primary btn-block'
  %%br
