.container
  .panel.panel-default
    %h1.panel-heading Your Booking Requests:
    .panel-body
      %p Please glance over your booking requests. If everything looks good then move on to enter your payment info.
      = flash[:toomany]
      %table.table.table-striped
        %thead
          %tr
            %th Listing
            %th Nightly Rate
            %th Check In
            %th Check Out
            %th Number of Nights
            %th
            %th Subtotal
        %tbody
        -if order.empty?
          %tr
            %i You don't have any items in your cart!
          %br/
          %br/
        -else
          -order.items.each do |item|
            %tr
              %td #{item.title}
              %td $#{item.price_for_humans}
              %td.nights #{order_item(item).quantity}
              %td.check-in #{order_item(item).checkin_date}
              %td.check-out #{order_item(item).checkout_date}
              %td= button_to "Remove", delete_item_order_path(order, item_id: item.id), class: "btn btn-danger"
              %td $#{quantity_price_for_humans(item)}
    #order-total
      %h3.text-muted.pull-right= "Booking Subtotal: $#{order.total_for_humans}"


-if signed_in?
  -unless order.total == 0|| order.empty?
    .container
      .row.pull-right
        %ul.nav.nav-pills
          %li.active
            = link_to "Proceed to Booking Summary", confirm_path
-else
  .container
    .col-lg-5-offset-3.pull-right
      %h5.alert.alert-warning You'll need to log in or sign up to complete your order.
  .container
    .col-lg-5-offset-3.pull-right
      %ul.nav.nav-pills
        %li.active
          %a{href: login_path} Login
        %li.active
          %a{href: signup_path} Signup
