.panel.panel-default
  .panel-heading Your Order
  .panel-body
    %p Look over your items, add a few more, or proceed to checkout.
    %table.table.table-striped
      %tbody
      - if @current_order.items.empty?
        %tr You don't have any items in your cart!
      -else
        - @current_order.items.each do |item|
          %tr
            %td Title: #{item.title}
            %td Description #{item.description}
            %td Unit Price: $ #{item.price}
            %td Quantity: #{item.order_items.where(order_id: @current_order.id).first.quantity}
            %td
              = form_for 'item', :url => {:controller => 'order_items', action: :update, id: item} do |f|
                .field
                  = f.number_field :quantity, :value => item.order_items.where(order_id: @current_order.id).first.quantity
                  = submit_tag "Update"
            %td= button_to "Remove", delete_item_order_path(@current_order, item_id: item.id), class: "btn btn-primary"
