.container
  .panel.panel-default
    %h1.panel-heading Your Order
    .panel-body
      %p Look over your items, add a few more, or proceed to checkout.
      %table.table.table-striped
        %tbody
        -if order.empty?
          %tr You don't have any items in your cart!
        -else
          - order.items.each do |item|
            %tr
              %td Title: #{item.title}
              %td Description: #{item.description}
              %td Unit Price: $ #{item.price}
              %td Quantity:
              %td
                = form_for 'item', method: 'PUT', :url => {:controller => 'order_items', action: :update, id: order_item(item) } do |f|
                  .field
                    = f.number_field :quantity, :value => order_item(item).quantity
                    = submit_tag "Update", class: "btn btn-primary"
              %td= button_to "Remove", delete_item_order_path(order, item_id: item.id), class: "btn btn-primary"
              %td Subtotal: $#{item.price * order_item(item).quantity}


    %h3.text-muted.pull-right= "Total: $#{@current_order.total}"
-if signed_in?
  .container
    .row.pull-right
      %ul.nav.nav-pills
        %li.active
          %a{:href => "#"} Proceed to Checkout
-else
  .container
    .col-lg-5-offset-3.pull-right
      %h5.alert.alert-warning You'll need to log in or sign up to complete your order.
  .container
    .col-lg-5-offset-3.pull-right
      %ul.nav.nav-pills
        %li.active
          %a{href: login_path} Login
        %li.active
          %a{href: signup_path} Signup
