.h1
.container
  .row.row-offcanvas.row-offcanvas-right
    .col-xs-12.col-sm-9
      %p.pull-right.visible-xs
        %button.btn.btn-primary.btn-xs{"data-toggle" => "offcanvas", :type => "button"} Toggle nav
      .jumbotron
        %h1 Our Menu
        %p Free range. Single source. Fully organic.
      -@main_categories.each_with_index do |category, i|
        -unless category.items.empty?
          #accordion.panel-group
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{i}"}
                    =category.name
              .panel-collapse.collapse{:id => "collapse#{i}"}
                .panel-body
                  -category.items.each do |item|
                    .col-sm-6.col-md-4
                      .thumbnail
                        %a{href: "#{item_path(item)}"}
                          %img{src: "#{item.image_file_name}"}
                          .caption
                            %h3= link_to "#{item.title}", item_path(item)
                            %p= truncate(item.description, :length => 30)
                            %p $ #{item.price_for_humans}
                            = button_to "Add to Cart", add_item_order_path(order, item_id: item.id), class: "thumbnail-btn btn btn-primary"

    #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas{:role => "navigation"}
      .list-group
        %a.list-group-item.active Special Categories
        -@special_categories.each do |category|
          -unless category.items.empty?
            %a.list-group-item{:href => category_path(category)}= category.name
