.container
  .row.col-lg-6.col-lg-offset-3
    %h2.listing-form-heading Step 1: Add your information.
    = form_for [@item] do |f|
      - if @item.errors.any?
        %ul#errors
          - @item.errors.full_messages.each do |error|
            %li= error
      .form-group
        %p.form-hints Listing Title
        = f.text_field :title, class: "form-control", placeholder: "Your Title will be displayed along with a photo of your listing."
        %br/
        %p.form-hints Listing Description
        = f.text_area :description, class: "form-control", placeholder: "Our most successful descriptions are between 100 - 250 words."
        %br/
        %p.form-hints Daily Rate
        = f.text_field :price, class: "form-control", placeholder: "How much would you like to charge per night?"
        %br/
        %p.form-hints People Per Unit
        = f.select(:people_per_unit, options_for_select([['How many can your space accomodate?', 1], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5], [6, 6]]), {}, {class: "form-control"})
        %br/
        %p.form-hints Bathroom Type
        = f.select(:bathroom, options_for_select([['Is your bathroom private or shared?', 'Bathroom Type'], ['Private', 'Private'], ['Shared', 'Shared']]), {}, {class: "form-control"})
        %br/
        %p.form-hints Accomodation Type
        = f.select(:accommodation, options_for_select([['What type of accomodation?', 'Accommodation Type'], ['Whole Place', 'Whole Place'], ['Private Room', 'Private Room'], ['Shared Room', 'Shared Room'], ['Couch', 'Couc']]), {}, {class: "form-control"})
        %br/
        %p
          %h4 Add availabilities:
          %p.form-hints Select the range of dates you'd like your listing to be available.

        %link{:href => "//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css", :rel => "stylesheet"}/
        %script{:src => "//code.jquery.com/jquery-1.10.2.js"}
        %script{:src => "//code.jquery.com/ui/1.11.1/jquery-ui.js"}

        :javascript
          $(function() {
            $( "#from" ).datepicker({
              defaultDate: "+1w",
              changeMonth: true,
              numberOfMonths: 3,
              onClose: function( selectedDate ) {
                $( "#to" ).datepicker( "option", "minDate", selectedDate );
              }
            });
            $( "#to" ).datepicker({
              defaultDate: "+1w",
              changeMonth: true,
              numberOfMonths: 3,
              onClose: function( selectedDate ) {
                $( "#from" ).datepicker( "option", "maxDate", selectedDate );
              }
            });
          });

        %label{:for => "from"} From
        %input#from{:name => "from", :type => "text"}/
        %label{:for => "to"} to
        %input#to{:name => "to", :type => "text"}/
        %br/
        %br/

        -if @item.availabilities.any?
          %p
            %h4 Current availabilities:
            -@item.availabilities.each do |avail|
              =avail.date
              %br/
        -else
          %p
            No availabilities set up.
        %br/
        %br/
        = f.submit "Continue", class: "btn btn-large btn-block btn-primary"
