.container
  .row
    .col-md-6
      .item-show-title
        =@item.title
      .location-info
        %p.location_text
          %b Location:
          -if @item.address
            =@item.address.street_1
            =@item.address.street_2
            =@item.address.city
            =@item.address.state
            =@item.address.zip
        %p.location_text
          %b Sleeps:
          #{@item.people_per_unit}
        %p.location_text
          %b Nightly Rate:
          $#{@item.price_for_humans}
        %p.location_text
          %b Description:
          #{@item.description}
        %p.location_text
          %b Bathroom:
          #{@item.bathroom}
        %p.location_text
          %b Accommodation:
          - @item.categories.each do |category|
            = category.name
        %p.location_text
          %b Search Availability:
          %br/
          -if @item.availabilities.any?
            =form_for @order do |f|

              %label{:for => "from"} Check In:
              %input#from{:name => "from", :type => "text"}/
              %br/
              %label{:for => "to"} Check Out:
              %input#to{:name => "to", :type => "text"}/

              %link{:href => "//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css", :rel => "stylesheet"}/
              %script{:src => "//code.jquery.com/jquery-1.10.2.js"}
              %script{:src => "//code.jquery.com/ui/1.11.1/jquery-ui.js"}

              :javascript
                var from_array = #{ @item.available_from_dates }
                var to_array = #{ @item.available_to_dates}
                $(document).ready(function() {
                  $( "#from" ).datepicker({
                    beforeShowDay: function(date) {
                      if($.inArray($.datepicker.formatDate('yy-mm-dd', date ), from_array) > -1)
                      {
                          return [true,"",""];
                      }
                      else
                      {
                          return [false,'',"Unavailable"];
                      }
                    },
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    onClose: function( selectedDate ) {
                      $( "#to" ).datepicker( "option", "minDate", selectedDate );
                    }
                  });
                  $( "#to" ).datepicker({
                    beforeShowDay: function(date) {
                      if($.inArray($.datepicker.formatDate('yy-mm-dd', date ), to_array) > -1)
                      {
                          return [true,"",""];
                      }
                      else
                      {
                          return [false,'',"Unavailable"];
                      }
                    },
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    onClose: function( selectedDate ) {
                      $( "#from" ).datepicker( "option", "maxDate", selectedDate );
                    }
                  });
                });

              %br/
              %br/
              = f.hidden_field :item_id, value: @item.id
              = f.submit "Book it!", class: 'btn btn-primary'

          -else
            %p No availability yet!

      .user-show-title
        About
        =@item.user.first_name
      .user-info
        .user-column-left
          %p
            =image_tag @item.user.avatar.url(:thumb), class: "item-user-photo"
        .user-column-right
          %p
            %b Hometown:
            =@item.user.city
            =@item.user.state
          %p
            %b Member Since:
            =@item.user.created_at.strftime("%b %d, %Y")
          %p
            %b Response Rate:
            95%
          %p
            %b Response Time:
            Within 24 hours


    .col-md-6
      .right-column-margin
      .item-section-title
        %span.glyphicon.glyphicon-camera
        Photos
      .fotorama.image-picker{"data-nav" => "thumbs", "data-maxwidth"=>"480px", "data-minwidth"=>"480px"}
        -@item.item_images.each do |item_image|
          %img{:src => "#{item_image.image}"}
      .item-section-title
        %span.glyphicon.glyphicon-pushpin
        Location
      .listing-map
        %iframe{:frameborder => "0", :height => "300", :src => "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3067.8044170608996!2d-104.98826600000002!3d39.74404399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1411488101180", :style => "border:0", :width => "400"}
      .item-section-title
        %span.glyphicon.glyphicon-comment
        Reviews
      .listing-reviews
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star-empty
        %strong Review 1
        %p Omg this place is amazing.
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %strong Review 2
        %p Wow, like such wow.
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star-empty
        %span.glyphicon.glyphicon-star-empty
        %span.glyphicon.glyphicon-star-empty
        %strong Review 3
        %p Lol, seriously
