.container
  %h3.location_title=@item.title
  .location_info.col-md-4
    %p.location_text
      Location: #{@item.address.street_1 if @item.address}
    %p.location_text
      Sleeps: #{@item.people_per_unit}
    %p.location_text
      Rate: $ #{@item.price}
    %p.location_text
      Description: #{@item.description}
    %a= button_to "Book it!", add_item_order_path(order, item_id: @item.id), class: 'btn btn-success'
    %p

  .col-md-8
    %img{src: "#{@item.image_file_name}", width: "90%", height: "242"}
  .col-md-8.image_small
    %img.thumbx{src: "http://static.pexels.com/wp-content/uploads/2014/06/couch-disc-jockey-dj-1688.jpg", width: "10%", height: "80"}
    %img.thumbx{src: "http://static.pexels.com/wp-content/uploads/2014/09/bed-bedroom-furniture-2705.jpg", width: "10%", height: "80"}
    %img.thumbx{src: "http://static.pexels.com/wp-content/uploads/2014/08/couch-flat-home-2459.jpg", width: "10%", height: "80"}
    %img.thumbx{src: "http://static.pexels.com/wp-content/uploads/2014/09/couch-furniture-leather-2689.jpg", width: "10%", height: "80"}
    %img.thumbx{src: "http://static.pexels.com/wp-content/uploads/2014/06/couch-disc-jockey-dj-1688.jpg", width: "10%", height: "80"}
    %img.thumbx{src: "http://static.pexels.com/wp-content/uploads/2014/09/bed-bedroom-furniture-2705.jpg", width: "10%", height: "80"}
