.container
  %h3.location_title=@item.title
  .location_info.col-md-4
    %p.location_text
      Location: #{@item.address.street_1 if @item.address}
    %p.location_text
      Sleeps: #{@item.people_per_unit}
    %p.location_text
      Rate: $#{@item.price}
    %p.location_text
      Description: #{@item.description}
    %p.location_text
      Bathroom: #{@item.bathroom}
    %p.location_text
      Category:
      - @item.categories.each do |category|
        = category.name
    %p.location_text
      Search Availability:
      %br/
      -if @item.availabilities.any?
        =form_for @order do |f|
          
          %label{:for => "from"} From 
          %input#from{:name => "from", :type => "text"}/
          %label{:for => "to"} to 
          %input#to{:name => "to", :type => "text"}/
          
          %link{:href => "//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css", :rel => "stylesheet"}/
          %script{:src => "//code.jquery.com/jquery-1.10.2.js"}
          %script{:src => "//code.jquery.com/ui/1.11.1/jquery-ui.js"}

          :javascript
            var array = #{ @item.available_dates }
          
            $(document).ready(function() {
              $( "#from" ).datepicker({
                beforeShowDay: function(date) {
                  if($.inArray($.datepicker.formatDate('yy-mm-dd', date ), array) > -1)
                  {
                      return [true,"",""];
                  }
                  else
                  {
                      return [false,'',"Unavailable"];
                  }
                },
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                onClose: function( selectedDate ) {
                  $( "#to" ).datepicker( "option", "minDate", selectedDate );
                }
              });
              $( "#to" ).datepicker({
                beforeShowDay: function(date) {
                  if($.inArray($.datepicker.formatDate('yy-mm-dd', date ), array) > -1)
                  {
                      return [true,"",""];
                  }
                  else
                  {
                      return [false,'',"Unavailable"];
                  }
                },
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                onClose: function( selectedDate ) {
                  $( "#from" ).datepicker( "option", "maxDate", selectedDate );
                }
              });
            });

          %br/
          %br/
          = f.hidden_field :item_id, value: @item.id
          = f.submit "Book it!", class: 'btn btn-success'

      -else
        %p No availability yet!

  .col-md-8
    / %img{src: "#{@item.image_file_name}", width: "90%", height: "242"}
    %p Image placeholder
  .col-md-8.image_small
    %img.thumbx{src: "http://static.pexels.com/wp-content/uploads/2014/06/couch-disc-jockey-dj-1688.jpg", width: "10%", height: "80"}
    %img.thumbx{src: "http://static.pexels.com/wp-content/uploads/2014/09/bed-bedroom-furniture-2705.jpg", width: "10%", height: "80"}
    %img.thumbx{src: "http://static.pexels.com/wp-content/uploads/2014/08/couch-flat-home-2459.jpg", width: "10%", height: "80"}
    %img.thumbx{src: "http://static.pexels.com/wp-content/uploads/2014/09/couch-furniture-leather-2689.jpg", width: "10%", height: "80"}
    %img.thumbx{src: "http://static.pexels.com/wp-content/uploads/2014/06/couch-disc-jockey-dj-1688.jpg", width: "10%", height: "80"}
    %img.thumbx{src: "http://static.pexels.com/wp-content/uploads/2014/09/bed-bedroom-furniture-2705.jpg", width: "10%", height: "80"}
