.container
  %h1= @category.name
  .container
  -@category.items.each do |item|
    .col-sm-6.col-md-4
      .thumbnail
        %img{:src => "#{item.image_file_name}"}
        .caption
          %h3= link_to "#{item.title}", item_path(item)
          %p=truncate(item.description, :length => 45)
          %p $ #{item.price.to_i}
          = button_to "Add to Cart", add_item_order_path(order, item_id: item.id), class: "btn btn-primary"
