.container
  .panel.panel-default
    %h1.panel-heading Users
    / .panel-body
    /   %table.table.table-striped
    /     %thead
    /       %tr
    /         %th Title
    /         %th Price
    /         %th Nights
    /         %th Check In
    /         %th Check Out
    /         %th Item Subtotal
    /     %tbody
    /     -if order.empty?
    /       %tr You don't have any items in your cart!
    /     -else
    /       -order.items.each do |item|
    /         %tr
    /           %td #{item.title}
    /           %td $#{item.price_for_humans}
    /           %td #{order_item(item).quantity}
    /           %td #{order_item(item).checkin_date}
    /           %td #{order_item(item).checkout_date}
    /           %td $#{quantity_price_for_humans(item)}