!!!
%html
  %head
    %title TravelHome
    %link{:href => "//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css", :rel => "stylesheet"}/
    %script{:src => "//code.jquery.com/jquery-1.10.2.js"}
    %script{:src => "//code.jquery.com/ui/1.11.1/jquery-ui.js"}
    %link{:href => "http://fotorama.s3.amazonaws.com/4.6.2/fotorama.css", :rel => "stylesheet"}/
    %script{:src => "http://fotorama.s3.amazonaws.com/4.6.2/fotorama.js"}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render partial: 'layouts/shared/navbar'
    = yield
